<div class="well">
  <div class="centering">
	<h2>報告書検索</h2>

	<p>就職・進学のどちらの試験報告書を検索するか選択してください。</p>
	<%= link_to( '就職試験報告書を探す', {:controller=>'search',:action=>'emp'}, {:class => "btn btn-info"} )%>
	<%= link_to( '進学試験報告書を探す', {:controller=>'search',:action=>'uni'}, {:class => "btn btn-success"} )%>
  </div>
</div>
