<% content_for :extend do %>
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8"><div class="well">
      <%= render 'form_emp' %>
    </div></div>
    <div class="span2">
    </div>
  </div>
<% end %>

<div class="well">
  <% if @emps.blank? %>
  <h3>就職試験報告書 検索結果</h3>
  <p>見つかりませんでした。</p>
  <% else %>
  <h3>就職試験報告書 検索結果</h3>
  <%= render 'emps/index_table' %>
  <% end %>
</div>
