<div class="well">

	<% if !flash[:edit_subject] %>
	<h2>進学試験報告書 新規作成 3/4</h2>
	<% else %>
	<h2>進学報告書編集 3/4</h2>
	<% end %>

  

  <p>面接についての情報を登録します。（面接がない場合は「次へ」）</p>
  <hr>
  <%= render 'form' %>
</div>
