<div class="well">
  <h2>進学報告書 編集 [2/5]</h2>
  <p>この報告書には以下のテスト科目が登録されています。</p>
  <hr>

  <%= render 'index_table' %>

  <hr>
  <%= link_to_function '戻る', 'history.back()', :class => 'btn' %>
  <% if !@uni.uni_interview.blank? %>
  <%= link_to '次へ', edit_uni_uni_interview_path(@uni,@uni.uni_interview), :class=>"btn btn-primary" %>
  <% else %>  
  <%= link_to '次へ', new_uni_uni_interview_path(@uni), :class=>"btn btn-primary" %>
  <% end %>
</div>
