<div class="well">
<p id="notice"><%= notice %></p>
  <%= render "search/form_emp_simple" %>

  <div class="row-fluid">
	<div class="span6">
	  <h2>就職試験報告書一覧</h2>
	</div>
	<div class="span6" align="right">
	  <br />
          <%= link_to emps_path, :class => 'btn' do %>
	  <i class="icon-pencil icon-black"></i> 就職試験報告書の新規作成 »
	  <% end %>
	</div>
  </div>
  <%= render 'index_table' %>
</div>
