<%= javascript_include_tag "error" %>

<div class="row-fluid">
  <div class="span2"></div>
	<div class="span8">
	  <div class="well">
		<h2>アカウント情報編集</h2>
		<hr>
		<%= render 'form_edit' %>
	  </div>
	</div>  
	<div class="span2"></div>
</div>
