<div class="row-fluid">
  <div class="span2"></div>
	<div class="span8">
	  <div class="well">
		<h1>アカウント情報編集</h1>
		<hr>
		<%= render 'form' %>
	  </div>
	</div>  
	<div class="span2"></div>
</div>

<!-- <%= link_to 'Show', @account %> | -->
<!-- <%= link_to 'Back', accounts_path %> -->
